<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h1 style="text-align: center;"> Search Quotes By </h1>
		
		<%- include ('templates/nav'); -%>

	</div>
</div>

<%- include ('templates/footer'); -%>