<nav class="navbar navbar-light ">
    <form class="form mx-auto" style="text-align: center;">
        <a href='/name'> <button class="btn btn-outline-success" type="button" style="margin:5px;"> Name </button> </a>
        <a href='/keyword'><button class="btn btn-outline-info" type="button" style="margin:5px;">Keyword</button> </a>
      	<a href='/category'><button class="btn btn-outline-warning" type="button" style="margin:5px;">Category</button> </a>
        <a href='/sex'><button class="btn btn-outline-danger" type="button" style="margin:5px;">Sex</button> </a>
    </form>
</nav>